In [23]:
import pandas as pd
import numpy as np

In [24]:
occupational_proj_df = pd.read_csv("Occupational projections.csv", usecols=range(0,9)).dropna()
occupational_proj_df.head(10)

,"Table 1.7 Occupational projections, 2019-29, and worker characteristics, 2019\n (Numbers in thousands)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
2,"Total, all occupations",00-0000,Summary,"162,795.6","168,834.7","6,039.2",3.7,5.8,"17,454.3"
3,Management occupations,11-0000,Summary,"10,697.2","11,202.2",505.0,4.7,18.6,843.0
4,Top executives,11-1000,Summary,"2,828.0","2,946.3",118.3,4.2,3.0,222.2
5,Chief executives,11-1011,Line item,287.9,259.1,-28.7,-10.0,24.2,13.9
6,General and operations managers,11-1021,Line item,"2,486.4","2,630.2",143.8,5.8,0.6,204.4
7,Legislators,11-1031,Line item,53.7,57.0,3.3,6.2,—,3.9
8,"Advertising, marketing, promotions, public rel...",11-2000,Summary,836.7,879.0,42.3,5.1,4.7,70.0
9,Advertising and promotions managers,11-2011,Line item,28.6,28.3,-0.3,-1.1,11.0,2.5
10,Marketing and sales managers,11-2020,Summary,720.1,754.6,34.5,4.8,5.0,59.9
11,Marketing managers,11-2021,Line item,286.3,305.4,19.1,6.7,5.0,24.6

In [25]:
occupational_proj_df = occupational_proj_df.rename(columns=str).rename(columns={
    "Table 1.7 Occupational projections, 2019-29, and worker characteristics, 2019\n (Numbers in thousands)":"Title",
    "Unnamed: 1": "Code",
    "Unnamed: 2": "Type",
    "Unnamed: 3": "Employment_A",
    "Unnamed: 4": "Employment_B",
    "Unnamed: 5": "Ten_Year_Change",
    "Unnamed: 6": "Ten_Year_Percent_Change",
    "Unnamed: 7": "Percent_self_employed",
    "Unnamed: 8":"Occupational_openings_Ten_Year_Annual_Average",
})
occupational_proj_df

,Title,Code,Type,Employment_A,Employment_B,Ten_Year_Change,Ten_Year_Percent_Change,Percent_self_employed,Occupational_openings_Ten_Year_Annual_Average
2,"Total, all occupations",00-0000,Summary,"162,795.6","168,834.7","6,039.2",3.7,5.8,"17,454.3"
3,Management occupations,11-0000,Summary,"10,697.2","11,202.2",505.0,4.7,18.6,843.0
4,Top executives,11-1000,Summary,"2,828.0","2,946.3",118.3,4.2,3.0,222.2
5,Chief executives,11-1011,Line item,287.9,259.1,-28.7,-10.0,24.2,13.9
6,General and operations managers,11-1021,Line item,"2,486.4","2,630.2",143.8,5.8,0.6,204.4
...,...,...,...,...,...,...,...,...,...
1045,"Pump operators, except wellhead pumpers",53-7072,Line item,10.5,11.5,1.0,9.7,4.9,1.2
1046,Wellhead pumpers,53-7073,Line item,14.1,14.7,0.6,4.2,4.9,1.5
1047,Refuse and recyclable material collectors,53-7081,Line item,133.6,145.4,11.7,8.8,6.6,18.2
1048,"Tank car, truck, and ship loaders",53-7121,Line item,12.2,12.0,-0.2,-1.7,3.7,1.3
1049,"Material moving workers, all other",53-7199,Line item,29.8,30.3,0.5,1.5,3.4,3.3

In [26]:
occupational_proj_df["Occupation Type"]

KeyError: 'Occupation Type'

In [ ]:
growth_df = occupational_proj_df.loc[occupational_proj_df["Occupation Type"] == "Line item"]
growth_df

In [ ]:
growth_df["Employment Matrix code"].values[0][0:2]

In [ ]:
codes = ['15-', '23-', '25-', '29-',
           '31-', '41-']
searchstr = '|'.join(codes)
occ_growth = growth_df[growth_df['Employment Matrix code'].str.contains(searchstr)] 
occ_growth

In [ ]:
occ_growth.to_csv("projected_growth.csv")

In [ ]:
decline_proj_df = pd.read_csv("Fastest declining occupations.csv",usecols=range(0,6)).dropna()
decline_proj_df.head(10)

In [ ]:
decline_proj_df = decline_proj_df.rename(columns=str).rename(columns={
    "Table 1.5 Fastest declining occupations, 2019 and projected 2029\n(Numbers in thousands)":"Employment Matrix title",
    "Unnamed: 1": "Employment Matrix code",
    "Unnamed: 2": "2019 Employment",
    "Unnamed: 3": "2029 Employment",
    "Unnamed: 4": "Number of Employment changes, 2019-29",
    "Unnamed: 5": "Percent Employment change, 2019-29",
})
decline_proj_df

In [ ]:
codes = ['15-', '23-', '25-', '29-',
           '31-', '41-']
searchstr = '|'.join(codes)
occ_decline = decline_proj_df[decline_proj_df['Employment Matrix code'].str.contains(searchstr)] 
occ_decline

In [ ]:
occ_decline.to_csv("fastest_decline.csv")

In [ ]:
fastest_growing_proj_df = pd.read_csv("Fastest growing occupations.csv",usecols=range(0,6)).dropna()
fastest_growing_proj_df.head(10)

In [ ]:
fastest_growing_proj_df = fastest_growing_proj_df.rename(columns=str).rename(columns={
    "Table 1.3 Fastest growing occupations, 2019 and projected 2029\n(Numbers in thousands)":"Employment Matrix title",
    "Unnamed: 1": "Employment Matrix code",
    "Unnamed: 2": "2019 Employment",
    "Unnamed: 3": "2029 Employment",
    "Unnamed: 4": "Number of Employment changes, 2019-29",
    "Unnamed: 5": "Percent Employment change, 2019-29",
})
fastest_growing_proj_df

In [ ]:
codes = ['15-', '23-', '25-', '29-',
           '31-', '41-']
searchstr = '|'.join(codes)
occ_fastest_growing = fastest_growing_proj_df[fastest_growing_proj_df['Employment Matrix code'].str.contains(searchstr)] 
occ_fastest_growing

In [ ]:
occ_fastest_growing.to_csv("fastest_growing.csv")

In [ ]:
emp_occ_df = pd.read_csv("Employment by major occupational group.csv",usecols=range(0,6)).dropna()
emp_occ_df.head()

In [ ]:
emp_occ_df = emp_occ_df.rename(columns=str).rename(columns={
    "Table 1.1 Employment by major occupational group, 2019 and projected 2029\n (Numbers in thousands)":"Employment Matrix title",
    "Unnamed: 1": "Employment Matrix code",
    "Unnamed: 2": "2019 Employment",
    "Unnamed: 3": "2029 Employment",
    "Unnamed: 4": "Number of Employment changes, 2019-29",
    "Unnamed: 5": "Percent Employment change, 2019-29",
})
emp_occ_df

In [ ]:
codes = ['15-', '23-', '25-', '29-',
           '31-', '41-']
searchstr = '|'.join(codes)
emp_occ = emp_occ_df[emp_occ_df['Employment Matrix code'].str.contains(searchstr)] 
emp_occ

In [ ]:
emp_occ.to_csv("employment_occupation.csv")