In [21]:
import pandas as pd
import numpy as np

In [22]:
occupational_proj_df = pd.read_csv("Occupational projections.csv", usecols=range(0,9)).dropna()
occupational_proj_df.head(10)

,"Table 1.7 Occupational projections, 2019-29, and worker characteristics, 2019\n (Numbers in thousands)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
2,"Total, all occupations",00-0000,Summary,"162,795.6","168,834.7","6,039.2",3.7,5.8,"17,454.3"
3,Management occupations,11-0000,Summary,"10,697.2","11,202.2",505.0,4.7,18.6,843.0
4,Top executives,11-1000,Summary,"2,828.0","2,946.3",118.3,4.2,3.0,222.2
5,Chief executives,11-1011,Line item,287.9,259.1,-28.7,-10.0,24.2,13.9
6,General and operations managers,11-1021,Line item,"2,486.4","2,630.2",143.8,5.8,0.6,204.4
7,Legislators,11-1031,Line item,53.7,57.0,3.3,6.2,—,3.9
8,"Advertising, marketing, promotions, public rel...",11-2000,Summary,836.7,879.0,42.3,5.1,4.7,70.0
9,Advertising and promotions managers,11-2011,Line item,28.6,28.3,-0.3,-1.1,11.0,2.5
10,Marketing and sales managers,11-2020,Summary,720.1,754.6,34.5,4.8,5.0,59.9
11,Marketing managers,11-2021,Line item,286.3,305.4,19.1,6.7,5.0,24.6

In [3]:
occupational_proj_df = occupational_proj_df.rename(columns=str).rename(columns={
    "Table 1.7 Occupational projections, 2019-29, and worker characteristics, 2019\n (Numbers in thousands)":"Employment Matrix title",
    "Unnamed: 1": "Employment Matrix code",
    "Unnamed: 2": "Occupation Type",
    "Unnamed: 3": "Employment_A",
    "Unnamed: 4": "Employment_B",
    "Unnamed: 5": "Ten_Year_Change",
    "Unnamed: 6": "Ten_Year_Percent_Change",
    "Unnamed: 7": "Percent_self_employed",
    "Unnamed: 8":"Occupational_openings_Ten_Year_Annual_Average",
})
occupational_proj_df

,Employment Matrix title,Employment Matrix code,Occupation Type,Employment_A,Employment_B,Ten_Year_Change,Ten_Year_Percent_Change,Percent_self_employed,Occupational_openings_Ten_Year_Annual_Average
2,"Total, all occupations",00-0000,Summary,"162,795.6","168,834.7","6,039.2",3.7,5.8,"17,454.3"
3,Management occupations,11-0000,Summary,"10,697.2","11,202.2",505.0,4.7,18.6,843.0
4,Top executives,11-1000,Summary,"2,828.0","2,946.3",118.3,4.2,3.0,222.2
5,Chief executives,11-1011,Line item,287.9,259.1,-28.7,-10.0,24.2,13.9
6,General and operations managers,11-1021,Line item,"2,486.4","2,630.2",143.8,5.8,0.6,204.4
...,...,...,...,...,...,...,...,...,...
1045,"Pump operators, except wellhead pumpers",53-7072,Line item,10.5,11.5,1.0,9.7,4.9,1.2
1046,Wellhead pumpers,53-7073,Line item,14.1,14.7,0.6,4.2,4.9,1.5
1047,Refuse and recyclable material collectors,53-7081,Line item,133.6,145.4,11.7,8.8,6.6,18.2
1048,"Tank car, truck, and ship loaders",53-7121,Line item,12.2,12.0,-0.2,-1.7,3.7,1.3
1049,"Material moving workers, all other",53-7199,Line item,29.8,30.3,0.5,1.5,3.4,3.3

In [4]:
occupational_proj_df["Occupation Type"]

2         Summary
3         Summary
4         Summary
5       Line item
6       Line item
          ...
1045    Line item
1046    Line item
1047    Line item
1048    Line item
1049    Line item
Name: Occupation Type, Length: 1048, dtype: object

In [5]:
growth_df = occupational_proj_df.loc[occupational_proj_df["Occupation Type"] == "Line item"]
growth_df

,Employment Matrix title,Employment Matrix code,Occupation Type,Employment_A,Employment_B,Ten_Year_Change,Ten_Year_Percent_Change,Percent_self_employed,Occupational_openings_Ten_Year_Annual_Average
5,Chief executives,11-1011,Line item,287.9,259.1,-28.7,-10.0,24.2,13.9
6,General and operations managers,11-1021,Line item,"2,486.4","2,630.2",143.8,5.8,0.6,204.4
7,Legislators,11-1031,Line item,53.7,57.0,3.3,6.2,—,3.9
9,Advertising and promotions managers,11-2011,Line item,28.6,28.3,-0.3,-1.1,11.0,2.5
11,Marketing managers,11-2021,Line item,286.3,305.4,19.1,6.7,5.0,24.6
...,...,...,...,...,...,...,...,...,...
1045,"Pump operators, except wellhead pumpers",53-7072,Line item,10.5,11.5,1.0,9.7,4.9,1.2
1046,Wellhead pumpers,53-7073,Line item,14.1,14.7,0.6,4.2,4.9,1.5
1047,Refuse and recyclable material collectors,53-7081,Line item,133.6,145.4,11.7,8.8,6.6,18.2
1048,"Tank car, truck, and ship loaders",53-7121,Line item,12.2,12.0,-0.2,-1.7,3.7,1.3
1049,"Material moving workers, all other",53-7199,Line item,29.8,30.3,0.5,1.5,3.4,3.3

In [6]:
growth_df["Employment Matrix code"].values[0][0:2]

'11'

In [7]:
codes = ['15-', '23-', '25-', '29-',
           '31-', '41-']
searchstr = '|'.join(codes)
occ_growth = growth_df[growth_df['Employment Matrix code'].str.contains(searchstr)] 
occ_growth

,Employment Matrix title,Employment Matrix code,Occupation Type,Employment_A,Employment_B,Ten_Year_Change,Ten_Year_Percent_Change,Percent_self_employed,Occupational_openings_Ten_Year_Annual_Average
83,Computer systems analysts,15-1211,Line item,632.4,679.0,46.6,7.4,3.0,46.2
84,Information security analysts,15-1212,Line item,131.0,171.9,40.9,31.2,0.8,13.9
85,Computer and information research scientists,15-1221,Line item,32.7,37.7,5.0,15.4,—,3
87,Computer network support specialists,15-1231,Line item,195.1,207.7,12.6,6.4,2.0,14.8
88,Computer user support specialists,15-1232,Line item,687.2,741.9,54.8,8.0,1.9,53.6
...,...,...,...,...,...,...,...,...,...
615,Real estate sales agents,41-9022,Line item,376.5,385.2,8.7,2.3,55.6,32.4
616,Sales engineers,41-9031,Line item,64.5,68.6,4.1,6.3,—,6.7
617,Telemarketers,41-9041,Line item,136.9,117.5,-19.4,-14.2,0.5,15.5
619,"Door-to-door sales workers, news and street ve...",41-9091,Line item,72.9,58.3,-14.6,-20.0,87.7,6.3
620,"Sales and related workers, all other",41-9099,Line item,142.9,145.6,2.7,1.9,13.9,16.9

In [8]:
occ_growth.to_csv("projected_growth.csv")

In [9]:
decline_proj_df = pd.read_csv("Fastest declining occupations.csv",usecols=range(0,6)).dropna()
decline_proj_df.head(10)

,"Table 1.5 Fastest declining occupations, 2019 and projected 2029\n(Numbers in thousands)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
2,"Total, all occupations",00-0000,"162,795.6","168,834.7","6,039.2",3.7
3,Word processors and typists,43-9022,52.7,33.5,-19.2,-36.4
4,Parking enforcement workers,33-3041,8.1,5.2,-2.9,-36.2
5,Nuclear power reactor operators,51-8011,5.3,3.4,-1.9,-35.7
6,Watch and clock repairers,49-9064,3.2,2.1,-1.0,-32.3
7,"Cutters and trimmers, hand",51-9031,9.8,6.9,-2.9,-29.9
8,Telephone operators,43-2021,5.0,3.6,-1.4,-27.9
9,Travel agents,41-3041,82.0,60.8,-21.3,-25.9
10,Data entry keyers,43-9021,172.4,130.0,-42.4,-24.6
11,"Electronic equipment installers and repairers,...",49-2096,10.4,8.0,-2.4,-23.2

In [10]:
decline_proj_df = decline_proj_df.rename(columns=str).rename(columns={
    "Table 1.5 Fastest declining occupations, 2019 and projected 2029\n(Numbers in thousands)":"Employment Matrix title",
    "Unnamed: 1": "Employment Matrix code",
    "Unnamed: 2": "2019 Employment",
    "Unnamed: 3": "2029 Employment",
    "Unnamed: 4": "Number of Employment changes, 2019-29",
    "Unnamed: 5": "Percent Employment change, 2019-29",
})
decline_proj_df

,Employment Matrix title,Employment Matrix code,2019 Employment,2029 Employment,"Number of Employment changes, 2019-29","Percent Employment change, 2019-29"
2,"Total, all occupations",00-0000,"162,795.6","168,834.7","6,039.2",3.7
3,Word processors and typists,43-9022,52.7,33.5,-19.2,-36.4
4,Parking enforcement workers,33-3041,8.1,5.2,-2.9,-36.2
5,Nuclear power reactor operators,51-8011,5.3,3.4,-1.9,-35.7
6,Watch and clock repairers,49-9064,3.2,2.1,-1.0,-32.3
7,"Cutters and trimmers, hand",51-9031,9.8,6.9,-2.9,-29.9
8,Telephone operators,43-2021,5.0,3.6,-1.4,-27.9
9,Travel agents,41-3041,82.0,60.8,-21.3,-25.9
10,Data entry keyers,43-9021,172.4,130.0,-42.4,-24.6
11,"Electronic equipment installers and repairers,...",49-2096,10.4,8.0,-2.4,-23.2
12,"Switchboard operators, including answering ser...",43-2011,69.9,54.1,-15.7,-22.5
13,Manufactured building and mobile home installers,49-9095,2.9,2.2,-0.6,-22.3
14,Timing device assemblers and adjusters,51-2061,1.3,1.0,-0.3,-22.3
15,Legal secretaries and administrative assistants,43-6012,171.8,133.8,-38.0,-22.1
16,Postmasters and mail superintendents,11-9131,13.4,10.5,-2.9,-21.9
17,"Forging machine setters, operators, and tender...",51-4022,16.4,13.0,-3.5,-21.1
18,Prepress technicians and workers,51-5111,30.2,24.0,-6.3,-20.7
19,Executive secretaries and executive administra...,43-6011,593.4,472.4,-121.1,-20.4
20,Floral designers,27-1023,51.8,41.4,-10.4,-20.1
21,"Door-to-door sales workers, news and street ve...",41-9091,72.9,58.3,-14.6,-20.0
22,"Grinding and polishing workers, hand",51-9022,29.0,23.4,-5.6,-19.5
23,Photographic process workers and processing ma...,51-9151,12.3,9.9,-2.4,-19.4
24,"Refractory materials repairers, except brickma...",49-9045,0.8,0.7,-0.2,-19.3
25,Desktop publishers,43-9031,10.4,8.4,-2.0,-19.0
26,"Drilling and boring machine tool setters, oper...",51-4032,11.2,9.1,-2.1,-19.0
27,Nuclear technicians,19-4051,6.7,5.4,-1.3,-18.9
28,"Pressers, textile, garment, and related materials",51-6021,38.3,31.1,-7.2,-18.9
29,"Coil winders, tapers, and finishers",51-2021,13.0,10.5,-2.4,-18.7
30,"Milling and planing machine setters, operators...",51-4035,19.2,15.6,-3.6,-18.6
31,"Postal service mail sorters, processors, and p...",43-5053,98.5,80.9,-17.6,-17.8
32,"Aircraft structure, surfaces, rigging, and sys...",51-2011,43.9,36.3,-7.6,-17.4

In [11]:
codes = ['15-', '23-', '25-', '29-',
           '31-', '41-']
searchstr = '|'.join(codes)
occ_decline = decline_proj_df[decline_proj_df['Employment Matrix code'].str.contains(searchstr)] 
occ_decline

,Employment Matrix title,Employment Matrix code,2019 Employment,2029 Employment,"Number of Employment changes, 2019-29","Percent Employment change, 2019-29"
9,Travel agents,41-3041,82.0,60.8,-21.3,-25.9
21,"Door-to-door sales workers, news and street ve...",41-9091,72.9,58.3,-14.6,-20.0

In [12]:
occ_decline.to_csv("fastest_decline.csv")

In [13]:
fastest_growing_proj_df = pd.read_csv("Fastest growing occupations.csv",usecols=range(0,6)).dropna()
fastest_growing_proj_df.head(10)

,"Table 1.3 Fastest growing occupations, 2019 and projected 2029\n(Numbers in thousands)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
2,"Total, all occupations",00-0000,"162,795.6","168,834.7","6,039.2",3.7
3,Wind turbine service technicians,49-9081,7.0,11.3,4.3,60.7
4,Nurse practitioners,29-1171,211.3,322.0,110.7,52.4
5,Solar photovoltaic installers,47-2231,12.0,18.1,6.1,50.5
6,Occupational therapy assistants,31-2011,47.1,63.5,16.3,34.6
7,Statisticians,15-2041,42.7,57.5,14.8,34.6
8,Home health and personal care aides,31-1120,"3,439.7","4,599.2","1,159.5",33.7
9,Physical therapist assistants,31-2021,98.7,130.9,32.2,32.6
10,Medical and health services managers,11-9111,422.3,555.5,133.2,31.5
11,Physician assistants,29-1071,125.5,164.8,39.3,31.3

In [14]:
fastest_growing_proj_df = fastest_growing_proj_df.rename(columns=str).rename(columns={
    "Table 1.3 Fastest growing occupations, 2019 and projected 2029\n(Numbers in thousands)":"Employment Matrix title",
    "Unnamed: 1": "Employment Matrix code",
    "Unnamed: 2": "2019 Employment",
    "Unnamed: 3": "2029 Employment",
    "Unnamed: 4": "Number of Employment changes, 2019-29",
    "Unnamed: 5": "Percent Employment change, 2019-29",
})
fastest_growing_proj_df

,Employment Matrix title,Employment Matrix code,2019 Employment,2029 Employment,"Number of Employment changes, 2019-29","Percent Employment change, 2019-29"
2,"Total, all occupations",00-0000,"162,795.6","168,834.7","6,039.2",3.7
3,Wind turbine service technicians,49-9081,7.0,11.3,4.3,60.7
4,Nurse practitioners,29-1171,211.3,322.0,110.7,52.4
5,Solar photovoltaic installers,47-2231,12.0,18.1,6.1,50.5
6,Occupational therapy assistants,31-2011,47.1,63.5,16.3,34.6
7,Statisticians,15-2041,42.7,57.5,14.8,34.6
8,Home health and personal care aides,31-1120,"3,439.7","4,599.2","1,159.5",33.7
9,Physical therapist assistants,31-2021,98.7,130.9,32.2,32.6
10,Medical and health services managers,11-9111,422.3,555.5,133.2,31.5
11,Physician assistants,29-1071,125.5,164.8,39.3,31.3
12,Information security analysts,15-1212,131.0,171.9,40.9,31.2
13,Data scientists and mathematical science occup...,15-2098,33.2,43.4,10.3,30.9
14,"Derrick operators, oil and gas",47-5011,12.0,15.7,3.7,30.5
15,"Rotary drill operators, oil and gas",47-5012,20.9,26.6,5.6,26.9
16,"Roustabouts, oil and gas",47-5071,58.5,73.1,14.7,25.1
17,Speech-language pathologists,29-1127,162.6,203.1,40.5,24.9
18,Operations research analysts,15-2031,105.1,131.3,26.1,24.8
19,"Substance abuse, behavioral disorder, and ment...",21-1018,319.4,398.4,79.0,24.7
20,Forest fire inspectors and prevention specialists,33-2022,2.3,2.8,0.5,24.3
21,"Cooks, restaurant",35-2014,"1,417.3","1,744.6",327.3,23.1
22,Animal caretakers,39-2021,300.7,369.5,68.8,22.9
23,"Service unit operators, oil and gas",47-5013,51.7,63.6,11.8,22.9
24,Marriage and family therapists,21-1013,66.2,80.9,14.8,22.3
25,Computer numerically controlled tool programmers,51-9162,25.7,31.3,5.6,21.9
26,Film and video editors,27-4032,38.3,46.5,8.3,21.6
27,Software developers and software quality assur...,15-1256,"1,469.2","1,785.2",316.0,21.5
28,Genetic counselors,29-9092,2.6,3.2,0.6,21.5
29,Physical therapist aides,31-2022,50.6,61.3,10.8,21.3
30,Massage therapists,31-9011,166.7,201.1,34.4,20.6
31,"Health specialties teachers, postsecondary",25-1071,254.0,306.1,52.1,20.5
32,Helpers--extraction workers,47-5081,16.9,20.3,3.4,20.2

In [15]:
codes = ['15-', '23-', '25-', '29-',
           '31-', '41-']
searchstr = '|'.join(codes)
occ_fastest_growing = fastest_growing_proj_df[fastest_growing_proj_df['Employment Matrix code'].str.contains(searchstr)] 
occ_fastest_growing

,Employment Matrix title,Employment Matrix code,2019 Employment,2029 Employment,"Number of Employment changes, 2019-29","Percent Employment change, 2019-29"
4,Nurse practitioners,29-1171,211.3,322.0,110.7,52.4
6,Occupational therapy assistants,31-2011,47.1,63.5,16.3,34.6
7,Statisticians,15-2041,42.7,57.5,14.8,34.6
8,Home health and personal care aides,31-1120,"3,439.7","4,599.2","1,159.5",33.7
9,Physical therapist assistants,31-2021,98.7,130.9,32.2,32.6
11,Physician assistants,29-1071,125.5,164.8,39.3,31.3
12,Information security analysts,15-1212,131.0,171.9,40.9,31.2
13,Data scientists and mathematical science occup...,15-2098,33.2,43.4,10.3,30.9
17,Speech-language pathologists,29-1127,162.6,203.1,40.5,24.9
18,Operations research analysts,15-2031,105.1,131.3,26.1,24.8
27,Software developers and software quality assur...,15-1256,"1,469.2","1,785.2",316.0,21.5
28,Genetic counselors,29-9092,2.6,3.2,0.6,21.5
29,Physical therapist aides,31-2022,50.6,61.3,10.8,21.3
30,Massage therapists,31-9011,166.7,201.1,34.4,20.6
31,"Health specialties teachers, postsecondary",25-1071,254.0,306.1,52.1,20.5

In [16]:
occ_fastest_growing.to_csv("fastest_growing.csv")

In [17]:
emp_occ_df = pd.read_csv("Employment by major occupational group.csv",usecols=range(0,6)).dropna()
emp_occ_df.head()

,"Table 1.1 Employment by major occupational group, 2019 and projected 2029\n (Numbers in thousands)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
2,"Total, all occupations",00-0000,"162,795.6","168,834.7","6,039.2",3.7
3,Management occupations,11-0000,"10,697.2","11,202.2",505.0,4.7
4,Business and financial operations occupations,13-0000,"9,016.3","9,492.5",476.2,5.3
5,Computer and mathematical occupations,15-0000,"4,845.1","5,432.4",587.4,12.1
6,Architecture and engineering occupations,17-0000,"2,728.9","2,803.7",74.8,2.7

In [18]:
emp_occ_df = emp_occ_df.rename(columns=str).rename(columns={
    "Table 1.1 Employment by major occupational group, 2019 and projected 2029\n (Numbers in thousands)":"Employment Matrix title",
    "Unnamed: 1": "Employment Matrix code",
    "Unnamed: 2": "2019 Employment",
    "Unnamed: 3": "2029 Employment",
    "Unnamed: 4": "Number of Employment changes, 2019-29",
    "Unnamed: 5": "Percent Employment change, 2019-29",
})
emp_occ_df

,Employment Matrix title,Employment Matrix code,2019 Employment,2029 Employment,"Number of Employment changes, 2019-29","Percent Employment change, 2019-29"
2,"Total, all occupations",00-0000,"162,795.6","168,834.7","6,039.2",3.7
3,Management occupations,11-0000,"10,697.2","11,202.2",505.0,4.7
4,Business and financial operations occupations,13-0000,"9,016.3","9,492.5",476.2,5.3
5,Computer and mathematical occupations,15-0000,"4,845.1","5,432.4",587.4,12.1
6,Architecture and engineering occupations,17-0000,"2,728.9","2,803.7",74.8,2.7
7,"Life, physical, and social science occupations",19-0000,"1,460.3","1,528.5",68.2,4.7
8,Community and social service occupations,21-0000,"2,797.7","3,146.3",348.6,12.5
9,Legal occupations,23-0000,"1,335.6","1,403.2",67.6,5.1
10,Educational instruction and library occupations,25-0000,"9,744.7","10,185.6",441.0,4.5
11,"Arts, design, entertainment, sports, and media...",27-0000,"2,923.6","2,997.6",73.9,2.5
12,Healthcare practitioners and technical occupat...,29-0000,"9,133.7","9,967.3",833.6,9.1
13,Healthcare support occupations,31-0000,"7,013.4","8,598.1","1,584.8",22.6
14,Protective service occupations,33-0000,"3,615.9","3,711.1",95.2,2.6
15,Food preparation and serving related occupations,35-0000,"13,761.3","14,769.7","1,008.4",7.3
16,Building and grounds cleaning and maintenance ...,37-0000,"5,664.0","5,943.4",279.5,4.9
17,Personal care and service occupations,39-0000,"4,724.1","5,088.4",364.3,7.7
18,Sales and related occupations,41-0000,"15,525.3","15,222.0",-303.4,-2.0
19,Office and administrative support occupations,43-0000,"20,633.0","19,673.3",-959.7,-4.7
20,"Farming, fishing, and forestry occupations",45-0000,"1,116.6","1,115.1",-1.5,-0.1
21,Construction and extraction occupations,47-0000,"7,349.1","7,645.4",296.3,4.0
22,"Installation, maintenance, and repair occupations",49-0000,"6,128.0","6,301.3",173.3,2.8
23,Production occupations,51-0000,"9,447.0","9,023.8",-423.2,-4.5
24,Transportation and material moving occupations,53-0000,"13,134.8","13,583.6",448.9,3.4

In [19]:
codes = ['15-', '23-', '25-', '29-',
           '31-', '41-']
searchstr = '|'.join(codes)
emp_occ = emp_occ_df[emp_occ_df['Employment Matrix code'].str.contains(searchstr)] 
emp_occ

,Employment Matrix title,Employment Matrix code,2019 Employment,2029 Employment,"Number of Employment changes, 2019-29","Percent Employment change, 2019-29"
5,Computer and mathematical occupations,15-0000,"4,845.1","5,432.4",587.4,12.1
9,Legal occupations,23-0000,"1,335.6","1,403.2",67.6,5.1
10,Educational instruction and library occupations,25-0000,"9,744.7","10,185.6",441.0,4.5
12,Healthcare practitioners and technical occupat...,29-0000,"9,133.7","9,967.3",833.6,9.1
13,Healthcare support occupations,31-0000,"7,013.4","8,598.1","1,584.8",22.6
18,Sales and related occupations,41-0000,"15,525.3","15,222.0",-303.4,-2.0

In [20]:
emp_occ.to_csv("employment_occupation.csv")